---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import RepoCard from "../../components/RepoCard.astro";
import { CardGrid } from "@astrojs/starlight/components";
import { loadAllRepoData } from "../../utils/reposDataManipulator";

export async function getStaticPaths() {

	let data = await loadAllRepoData();

	let allRepoTopics = data.flatMap((repoObj) => {
		return repoObj.topics;
	});

	const uniqueTopicsList = new Set(allRepoTopics);

	let staticPathParamsList = [...uniqueTopicsList].map((topic) => {
		return {
			params: {
				topic: topic,
			},
			props: {
				dataList: data,
				filteredData: data.filter((repoObj: any) => repoObj.topics.includes(topic))
			},

		};
	});



	return staticPathParamsList;
}

const { topic } = Astro.params;
const { dataList, filteredData } = Astro.props;



---

<StarlightPage frontmatter={{ title: `Repos tagged with "${topic}"` }} >
	<p>All repos tagged with {topic}:</p>
	
	<CardGrid>
		{filteredData.map((dataObj: any) => <RepoCard {...dataObj} />)}

	</CardGrid>
</StarlightPage>
